.background--subpage {
	position: fixed;
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background--landelijk {
	background-image: url(../img/background_landelijk.jpg);
}

.background--verleden {
	background-image: url(../img/background_verleden.jpg);
}

.background--betrokken {
	background-image: url(../img/background_betrokken.jpg);
}

.background--grondprojecten {
	background-image: url(../img/background_grondprojecten.jpg);
}

.background--partijen {
	background-image: url(../img/background_partijen.jpg);
}

.background--verleden {
	background-image: url(../img/background_verleden.jpg);
}


img.logo {
	width: 15rem;
	margin: 2rem 0;
}


.content--head {
}

.content--head h2 {
	display: inline-block;
	background: #524e49;
	padding: 0 2rem;
}

.social--icons {
	display: inline-block;
	float: right;
}

.social--icons img {
	display: inline-block;
	margin-top: .6rem;
	height: 3rem;
	width: auto;
}

.content--body {
	background: rgba(82, 78, 73, 0.35);
	margin: 1rem 0;
	padding: 2rem 2rem;
}

.content--links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 8rem;
}

.linkblock {
	position: relative;
	width: 31%;
	margin-bottom: 2rem;
}

.linkblock--visual {
	position: relative;
}

.linkblock--icon {
	position: absolute;
	width: 3rem;
	height: auto;
}

.linkblock--icon--document {
	bottom: 1rem;
	left: 1rem;
}

.linkblock--icon--video {
	left: 45%;
	top: 30%;
}

.linkblock--description {
	min-height: 60px;
	background: #524e49;
	color: white;
	margin-top: 1rem;
	padding: .5rem 1rem;
}