.background--subpage {
	position: fixed;
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.background--landelijk {
	background-image: url(../img/background_landelijk.jpg);
}

.background--verleden {
	background-image: url(../img/background_verleden.jpg);
}
