/*typography*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
a {
	text-decoration: none;
}


body {
		font-family: 'lato', 'verdana', sans-serif; 
}

p {
	line-height: 24px;
}

h1 {
	font-family: 'Rubik', sans-serif;
	color: #006CB4;
	font-weight: 100;
}

h2 {
	font-family: 'Rubik', sans-serif;
	color: #0c8099;
	font-size: 1.2rem;
	font-weight: 100;
}


/*page*/
body, html {
	width: 100%;
	height: 100%;
}

.bg {
	width: 100%;
	height: 100%;
	background-image: url('../img/titleimg.jpg');
	background-size: cover;
}

.navbar {
	position: abosolute;
	top: 0;
	width: 100%;
	margin: 0;
}

.navbar ul {
	margin: 0 auto;
	text-align: center;
    background: rgba(255, 255, 255, 0.6);
    /*border-bottom: 1px solid #aaa;*/
}

.navbar ul li {
    display: inline-block;
    padding: 1rem 0;
}

.navbar ul li a {
	color: #1d1d1d;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 1.5rem; 
    background: rgba(0,0,0,0.1);
    text-transform: uppercase;

}